<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Tryouts <%= link_to 'New Tryout', new_tryout_path, class: 'pull-right btn btn-success', style: 'color:white' %></h1>
  </div>
  <div class="panel-body">
    <table class="table table-hover table-striped table-hover">
      <thead>
      <tr>
        <th>Date</th>
        <th>Fee</th>
        <th>Addr. Line 1</th>
        <th>Addr. Line 2</th>
        <th>City</th>
        <th>State</th>
        <th>ZIP</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
      <% @tryouts.each do |tryout| %>
          <tr>
            <td><%= link_to tryout.date.to_s(:long), tryout %></td>
            <td>$<%= number_with_precision(tryout.fee, precision: 2) %></td>
            <td><%= tryout.address1 %></td>
            <td><%= tryout.address2 %></td>
            <td><%= tryout.city %></td>
            <td><%= tryout.state %></td>
            <td><%= tryout.zip %></td>
            <td><%= link_to 'Edit', edit_tryout_path(tryout), class: 'btn btn-info' %></td>
            <td><%= link_to 'Destroy', tryout, method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger', style: 'color:white' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
